.todo-layout {
    padding: 24px;
    background-color: rgba(20,79,93, 0.4);
    min-height: 100vh;
}

.todo-background {
    padding-top: 52px;
    background-image: url('https://i.imgur.com/S4kXSZN.jpg');
    background-size: 700px 350px;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
}

.todo-app-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
    width: 700px;
}

@media (max-width: 750px) {
    .todo-background {
        background-size: 100% 350px;
    }
    .todo-app-container {
        width: 100%;
    }
    .todo-layout {
        padding: 24px 12px 0 12px;
    }
}

